/*<meta />*/

/* Prevents Safari in landscape orientation from zooming in on text*/

.micro-response
{
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 16px;
}

/* Default css class for hiding element*/

.micro-response .hidden
{
	display: none;
}

.micro-response a.glossaryTerm
{
	text-decoration: none;
}

/**/

.micro-response #ios-wrapper
{
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.micro-response .img_off
{
	display: none;
}

/* Feedback/Pulse */

.micro-response .pulse-required,
.micro-response .feedback-required,
.micro-response .feedback-topic-required
{
	display: none;
}

.micro-response .pulse-active .pulse-required,
.micro-response .feedback-active .feedback-required,
.micro-response .feedback-active.has-topic .feedback-topic-required
{
	display: block;
}

/* Login Dialog */

.micro-response .login-dialog
{
	display: none;
	z-index: 10001;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -175px;
	width: 350px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
}

.micro-response .login-dialog.pulse
{
	position: fixed;
	width: 408px;
	height: 428px;
	margin-left: -204px;
	margin-top: -214px;
}

.micro-response #pulse-login-frame
{
	width: 100%;
	height: 100%;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
}

.micro-response .login-dialog-header
{
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	padding-left: 50px;
	border-bottom: solid 1px #2B2B2B;
	background: #5A5A5A url("Images/login-dialog-icon.png") no-repeat 18px center;
	/* Old browsers */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -moz-linear-gradient(top, #5A5A5A 0%, #4A4A4A 100%);
	/* FF3.6+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5A5A5A), color-stop(100%,#4A4A4A));
	/* Chrome,Safari4+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -webkit-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -o-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* Opera11.10+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -ms-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* IE10+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/login-dialog-icon.png") no-repeat 18px center, linear-gradient(#5A5A5A, #4A4A4A);
	/*PIE*/
	background-repeat: no-repeat;
	background-position: 18px center;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.micro-response .login-dialog-content
{
	border-top: solid 1px #767676;
	background: #5A5A5A;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	padding: 17px;
}

.micro-response .login-dialog-content .profile-item-wrapper
{
	color: #CECECE;
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
}

.micro-response .login-dialog-content .profile-item-wrapper .label-wrapper
{
	margin-bottom: 5px;
	float: left;
}

.micro-response .login-dialog-content .profile-item-wrapper .input-wrapper
{
	float: right;
}

.micro-response .login-dialog-content .profile-item-wrapper input[type=text]
{
	margin: 0;
	padding: 5px;
	border: solid 1px #191919;
	background: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px #888;
	-moz-box-shadow: 0 1px #888;
	box-shadow: 0 1px #888;
	outline: none;
}

.micro-response .login-dialog-content .profile-item-wrapper.email-notifications-wrapper
{
	margin-top: 15px;
	height: auto;
	line-height: normal;
}

.micro-response .login-dialog-content .profile-item-wrapper.email-notifications-wrapper .label-wrapper
{
	float: none;
}

.micro-response .login-dialog-content .profile-item-wrapper.email-notifications-wrapper .email-notifications-group
{
	margin-right: 0;
	padding: 12px;
	background-color: #4A4A4A;
	background-repeat: no-repeat;
	background-position: center center;
	border: solid 1px #2B2B2B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px #888;
	-moz-box-shadow: 0 1px #888;
	box-shadow: 0 1px #888;
}

.micro-response .login-dialog-content .profile-item-wrapper.error input,
.micro-response .login-dialog-content .profile-item-wrapper.error select
{
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.micro-response .login-dialog-buttons
{
	text-align: right;
}

.micro-response .login-dialog button
{
	color: #FFF;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 0;
	padding: 8px 26px;
	border: solid 1px #2B2B2B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #595959;
	/* Old browsers */
	background: -moz-linear-gradient(top, #595959 0%, #4A4A4A 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#4A4A4A));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* IE10+ */
	background: linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* W3C */
	-pie-background: linear-gradient(#595959, #4A4A4A);
	/*PIE*/
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.micro-response .login-dialog button.close-dialog
{
	position: absolute;
	top: 8px;
	right: 8px;
	background: none;
	background-image: url('Images/close.png');
	height: 16px;
	width: 16px;
	margin: 0;
	padding: 0;
	border: 0;
}

.micro-response .login-dialog .status-message-box
{
	display: none;
	color: #0F0;
	text-align: center;
	margin-top: 16px;
	padding: 12px;
	background-color: #DCFEDC;
	border: solid 1px #0F0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.micro-response .login-dialog .status-message-box.error
{
	color: #F00;
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.micro-response .login-dialog .status-message-box .message
{
	display: none;
}

.micro-response .backlink-container
{
	position: absolute;
	bottom: 11px;
	right: 20px;
}

.micro-response .backlink-container-topnav
{
	bottom: 4px;
	right: 4px;
}

.micro-response .backlink-container-sidenav
{
	bottom: 20px;
	right: 20px;
}

.micro-response #mc-backlink
{
	text-decoration: none;
	color: #7d858a;
	font-size: 15px;
	font-family: Arial;
	font-weight: normal;
}

.micro-response #mc-backlink > sup
{
	font-size: 12px;
}

.micro-response .height-container
{
	/* just to contain top margin of element inside */
	padding-top: 0.1px;
	position: relative;
	box-sizing: border-box;
}

.micro-response .height-container-no-footer
{
	padding-bottom: 30px;
}

.micro-response .height-container-sidenav
{
	padding-bottom: 40px;
}

/* to contain floating elements in the div */

.micro-response .height-container:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.micro-response .codeSnippet
{
	overflow: auto;
}

.micro-response .codeSnippetBody
{
	margin: 0;
	font-family: inherit;
	overflow: auto;
}

.micro-response .codeSnippetBody > pre
{
	font-family: inherit;
	margin: 0;
}

.micro-response .codeSnippetBody > pre > code
{
	font-family: inherit;
}

.micro-response .codeSnippetBody span.codeSnippetLineNumbers
{
	text-decoration: inherit;
	float: left;
	margin-top: 0;
	margin-right: 0.5rem;
	padding-right: 1rem;
	text-align: right;
}

.micro-response .codeSnippetCopyButton
{
	font: inherit;
	right: 0;
}

.micro-response iframe.youtube-player_0
{
	display: inline-block;
	width: 560px;
	height: 315px;
}

.micro-response div.MCBreadcrumbsBox_0
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: black;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.micro-response .mc-wrapper .mc-viewport
{
	border-style: none;
	box-shadow: none;
	border-color: transparent;
	border-width: 5px;
	left: -5px;
	text-align: center;
	margin-bottom: 20px;
}

.micro-response div.MCSlide
{
	
}

.micro-response .mc-wrapper .mc-caption div
{
	background: none;
	color: #000000;
	padding: 0;
	padding-top: 0;
	font-family: Arial;
	display: block;
	font-size: .85em;
}

.micro-response .mc-wrapper .mc-pager.mc-default-pager a
{
	background-color: #666666;
	border-radius: 5px;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
}

.micro-response .mc-wrapper .mc-pager.mc-default-pager a:hover
{
	background-color: #000000;
}

.micro-response .mc-wrapper .mc-pager.mc-default-pager a.active
{
	background-color: #000000;
}

.micro-response .mc-wrapper .mc-controls-direction a
{
	position: absolute;
	top: 50%;
	margin-top: -16px;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: auto;
}

.micro-response .mc-wrapper .mc-prev
{
	left: 10px;
}

.micro-response .mc-wrapper .mc-prev:hover
{
	background-position: 0 0;
}

.micro-response .mc-wrapper .mc-next
{
	right: 10px;
}

.micro-response .mc-wrapper .mc-next:hover
{
	background-position: -43px 0;
}

.micro-response .mc-wrapper .mc-controls-auto
{
	text-align: center;
	position: absolute;
	bottom: -30px;
	width: 100%;
}

.micro-response .mc-wrapper .mc-controls-auto .mc-start
{
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	margin: 0 3px;
}

.micro-response .mc-wrapper .mc-controls-auto .mc-start:hover
{
	background-position: -86px 0;
}

.micro-response .mc-wrapper .mc-controls-auto .mc-start.active
{
	background-position: -86px 0;
}

.micro-response .mc-wrapper .mc-controls-auto .mc-stop
{
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	margin: 0 3px;
}

.micro-response .mc-wrapper .mc-controls-auto .mc-stop:hover
{
	background-position: -86px -33px;
}

.micro-response .mc-wrapper .mc-controls-auto .mc-stop.active
{
	background-position: -86px -33px;
}

.micro-response .mc-thumbnail a img
{
	padding: 3px;
	border: solid 1px #ccc;
	width: 50px;
}

.micro-response .mc-thumbnail a:hover img
{
	border: solid 1px #5280DD;
}

.micro-response .mc-thumbnail a.active img
{
	border: solid 1px #5280DD;
}

.micro-response iframe.youtube-player_video_0
{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.micro-response .dropDown
{
	margin-bottom: 6px;
	margin-top: 6px;
}

.micro-response .dropDownHotspot
{
	color: #404040;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
}

.micro-response .dropDownHotspot:link
{
	color: #404040;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
}

.micro-response .dropDownHotspot:hover
{
	color: #CF9FFF;
}

.micro-response .MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage
{
	background-position: left;
	background-image: url('DropDownOpen.png');
	padding-left: 0px;
	padding-right: 0;
}

.micro-response .MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage
{
	background-position: left;
	background-image: url('DropDownClosed.png');
	padding-left: 0px;
	padding-right: 0;
}

.micro-response .dropDownHead
{
	text-decoration: none;
}

.micro-response .dropDownBody
{
	border-bottom: solid 1px #CF9FFF;
}

.micro-response ul.MCGlossaryProxy_0
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	padding-top: 10px;
	margin-top: 10px;
	padding-left: 20px;
}

.micro-response .MCWebHelpFramesetLink a
{
	
}

.micro-response .MCWebHelpFramesetLink.MCWebHelpFramesetLinkTop a
{
	
}

.micro-response .MCWebHelpFramesetLink.MCWebHelpFramesetLinkBottom a
{
	
}

