/*<meta />*/

/*<meta sourceDocument="C:\Users\jeffh\Desktop\Flare Import Template test.docx" />*/

p
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

h1.Heading1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	margin-bottom: 0pt;
	mc-heading-level: 1;
	font-family: 'Calibri Light';
	color: #2F5496;
	font-size: 16pt;
	font-weight: normal;
}

h3.Heading3
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	margin-bottom: 0pt;
	mc-heading-level: 3;
	font-family: 'Calibri Light';
	color: #1F3763;
	font-size: 12pt;
	font-weight: normal;
}

p.ListParagraph
{
	margin-bottom: 8pt;
	font-size: 11pt;
	font-family: Calibri;
}

li.ListParagraph
{
	margin-bottom: 8pt;
	font-size: 11pt;
	font-family: Calibri;
}

h2.Heading2
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	margin-bottom: 0pt;
	mc-heading-level: 2;
	font-family: 'Calibri Light';
	color: #2F5496;
	font-size: 13pt;
	font-weight: normal;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: circle;
	margin-left: 36pt;
}

ul.ul_2
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

img.img_1
{
	visibility: visible;
	mso-wrap-style: square;
	width: 240px;
	height: 146px;
}

img.img_2
{
	visibility: visible;
	mso-wrap-style: square;
	width: 124px;
	height: 178px;
}

