/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	color: #404040;
	font-family: Arial, Avenir, Myriad;
	font-size: 1em;
	line-height: 1.7em;
}

a
{
	color: #2d82dc;
}

a:link
{
	color: #2d82dc;
}

a:visited
{
	color: #2d82dc;
}

a:hover
{
	color: #CF9FFF;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #CF9FFF;
}

div.example
{
	background-color: #f0ff86;
	background-repeat: no-repeat;
	border: solid 1px #a4ac67;
	border-radius: 6px;
	margin-bottom: 15px;
	padding: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.GlossaryPageDefinition
{
	
}

div.GlossaryPageHeading
{
	
}

div.GlossaryPageTerm
{
	
}

div.ImagesFloatLeft
{
	clear: both;
	float: left;
	margin-right: 10px;
	padding: 5px;
}

div.ImagesFloatRight
{
	clear: both;
	float: right;
	margin-left: 10px;
	padding: 5px;
}

div.note
{
	background-color: #47484a;
	background-repeat: no-repeat;
	border-radius: 6px;
	color: #b3b3b3;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 10px;
	background-image: url('../Images/NoteIcon.png');
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #404040;
	border-right-color: #404040;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #404040;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	margin-right: auto;
}

.noteInDiv
{
	mc-auto-number-format: '{b}{color #CF9FFF}Note: {/color}{/b}';
}

div.quotation
{
	background-color: #e1e1e1;
	background-image: url('../Images/QuotationMark.png');
	background-repeat: no-repeat;
	background-position: top left;
	border-color: #b3b3b3;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	font-family: 'Century Gothic';
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
	padding: 20px;
	padding-left: 40px;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

div.TightContent
{
	margin: 0;
	padding: 0;
	line-height: 1em;
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: 'Century Gothic';
}

h1.Appendix
{
	
}

h1.UserGuideBHeading
{
	
}

h2
{
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	font-family: 'Century Gothic';
}

h3
{
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-family: 'Century Gothic';
}

img
{
	border: none;
}

img.AbsolutePosition
{
	padding: 5px;
}

img.ReduceButtonSize
{
	max-height: 25px;
}

img.Thumbnail
{
	mc-thumbnail: popup;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	orphans: 2;
	widows: 2;
	font-family: 'Century Gothic';
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
}

MadCap|dropDown
{
	margin-bottom: 6px;
	margin-top: 6px;
	mc-closed-image: url('../Images/DropDownClosed.png');
	mc-open-image: url('../Images/DropDownOpen.png');
}

MadCap|dropDown.SecondLevel
{
	margin-left: 10px;
	mc-closed-image: url('../Images/DropDownClosedSecondLevel.png');
	mc-open-image: url('../Images/DropDownOpenSecondLevel.png');
}

MadCap|dropDownBody
{
	border-bottom: solid 1px #CF9FFF;
}

MadCap|dropDownBody.Final
{
	border-bottom: 0;
}

MadCap|dropDownHead
{
	
}

MadCap|dropDownHotspot
{
	color: #404040;
	font-size: 0.9em;
	font-weight: bold;
}

MadCap|dropDownHotspot:hover
{
	color: #CF9FFF;
}

MadCap|footnoteBlock
{
	
}

MadCap|footnotesBlock
{
	
}

MadCap|glossaryProxy
{
	
}

MadCap|indexProxy
{
	
}

MadCap|miniTocProxy
{
	
}

MadCap|popup
{
	color: #2D8DCC;
}

MadCap|popup:focus
{
	color: #2D8DCC;
}

MadCap|popup:hover
{
	color: #2D8DCC;
}

MadCap|popupHead
{
	color: #2D8DCC;
	font-weight: bold;
}

MadCap|tocProxy
{
	
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #CF9FFF;
}

MadCap|xref.IndexPageNumber
{
	
}

ol
{
	list-style-image: none;
}

ol ol
{
	list-style-type: lower-alpha;
	margin-left: -10px;
}

ol ol ol
{
	list-style-type: lower-roman;
	margin-left: -10px;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Century Gothic';
	mc-auto-number-class: inherit;
}

p.CompanyInformation1
{
	margin-bottom: 4px;
	margin-top: 14px;
	font-weight: bold;
}

p.CompanyInformation2
{
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
}

p.Copyright
{
	
}

p.CopyrightAddress
{
	
}

p.CopyrightHeading
{
	
}

p.CreatedUsingFlare
{
	
}

p.EmptyPageText
{
	
}

p.ExampleHeadText
{
	font-weight: bold;
	page-break-after: avoid;
	letter-spacing: 5px;
	padding: 0;
	margin: 0;
	border: 0;
}

p.Figure
{
	
}

p.FirstPageOfChapter
{
	
}

p.FrameFooterText
{
	
}

p.FrameFooterText2
{
	
}

p.GlossaryPrintHead
{
	
}

p.IndexHeading
{
	
}

p.IndexPrintHead
{
	
}

p.ManualTitle1
{
	
}

p.ManualTitle2
{
	
}

p.ManualVersionNumber
{
	
}

p.MiniTOC1
{
	
}

p.quotationname
{
	text-align: right;
}

p.TableCaption
{
	
}

p.TableTextCenterDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
	text-align: center;
}

p.TableTextDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextDarkEmphasis
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextHeadDark
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextLightEmphasis
{
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TOCHeading
{
	
}

span.Emphasis
{
	font-weight: bold;
}

span.FigureNum
{
	
}

span.SetOffFirstLevel
{
	color: #5e6914;
	font-weight: bold;
}

span.SetOffSecondLevel
{
	color: #445879;
	font-weight: bold;
}

span.TableNum
{
	
}

td
{
	margin: 8px;
	vertical-align: top;
}

th
{
	color: #ffffff;
	margin-bottom: 8px;
	margin-top: 8px;
}

tr
{
	
}

ul
{
	list-style-image: url('../Images/Bullet1.png');
}

ul.FirstLevelLessIndentation
{
	list-style-image: url('../Images/Bullet1.png');
	margin-left: -10px;
}

ul ul
{
	list-style-image: url('../Images/Bullet2.png');
	margin-left: -10px;
}

html.templateTopic div.sideContent
{
	display: none;
}

table
{
	margin-left: 40px;
	padding-left: 10px;
	padding-right: 10px;
}

h4
{
	font-family: 'Century Gothic';
}

h5
{
	font-family: 'Century Gothic';
}

div
{
	font-family: 'Century Gothic';
}

div.HomeIconGlossary1	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.HomeIconGlossary1::before
{
	content: ' ';
	display: table;
}

div.HomeIconGlossary1::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.HomeIconGlossary1 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0.5px;
	padding-right: 0.5px;
}

div.HomeIconGlossary1 > div:nth-child(1)
{
	width: 8.3333%;
	margin-left: 0%;
}

div.HomeIconGlossary1 > div:nth-child(2)
{
	width: 8.3333%;
	margin-left: 0%;
}

div.HomeIconGlossary1 > div:nth-child(3)
{
	width: 8.3333%;
	margin-left: 0%;
}

div.HomeIconGlossary1 > div:nth-child(4)
{
	width: 8.3333%;
	margin-left: 0%;
}

div.HomeIconGlossary2	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.HomeIconGlossary2::before
{
	content: ' ';
	display: table;
}

div.HomeIconGlossary2::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.HomeIconGlossary2 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.HomeIconGlossary2 > div:nth-child(1)
{
	width: 8.3333%;
	margin-left: 0%;
}

div.HomeIconGlossary2 > div:nth-child(2)
{
	width: 8.3333%;
	margin-left: 0%;
}

div.HomeIconGlossary2 > div:nth-child(3)
{
	width: 8.3333%;
	margin-left: 0%;
}

div.HomeIconGlossary2 > div:nth-child(4)
{
	width: 8.3333%;
	margin-left: 0%;
}

div.HomeIconGlossary3	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.HomeIconGlossary3::before
{
	content: ' ';
	display: table;
}

div.HomeIconGlossary3::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.HomeIconGlossary3 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.HomeIconGlossary3 > div:nth-child(1)
{
	width: 33.333%;
	margin-left: 0%;
}

div.HomeIconGlossary3 > div:nth-child(2)
{
	width: 33.333%;
	margin-left: 0%;
}

@media print
{
	body
	{
		font-size: 8pt;
		line-height: 13px;
		margin: 8px;
	}

	div.GlossaryPageDefinition
	{
		font-size: 9pt;
	}

	div.GlossaryPageHeading
	{
		border-bottom-color: #CF9FFF;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		color: #CF9FFF;
		font-size: 11pt;
	}

	div.GlossaryPageTerm
	{
		color: #CF9FFF;
		font-size: 10pt;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	div.note
	{
		padding-bottom: 20px;
	}

	h1
	{
		color: #CF9FFF;
		font-family: 'Century Gothic';
		font-size: 22pt;
		line-height: 24pt;
		margin-bottom: 20px;
		margin-left: 0;
		mc-auto-number-class: ChapAutoNum;
		mc-auto-number-format: 'CH:CHAPTER {chapnum} ';
		padding-left: 0;
		padding-top: 0;
	}

	h1.Appendix
	{
		mc-auto-number-format: 'APPENDIX ';
	}

	h1.UserGuideBHeading
	{
		page-break-before: avoid;
	}

	h2
	{
		font-size: 12pt;
		font-weight: normal;
		line-height: 14pt;
		page-break-before: always;
		mc-auto-number-format: 'CH:{chapnum}.{n+}. ';
	}

	h3
	{
		font-size: 10pt;
		font-weight: normal;
		line-height: 12pt;
		mc-auto-number-format: 'CH:{chapnum}.{n}.{n+}. ';
		page-break-before: avoid;
	}

	h4
	{
		font-size: 9pt;
		font-weight: normal;
		line-height: 11pt;
		mc-auto-number-format: 'CH:{chapnum}.{n}.{n}.{n+}. ';
		mc-heading-level: 4;
	}

	MadCap|dropDown.SecondLevel
	{
		background-color: transparent;
		margin-left: 10px;
	}

	MadCap|dropDownBody
	{
		border-bottom: none;
	}

	MadCap|dropDownHead
	{
		margin-top: 16px;
	}

	MadCap|dropDownHotspot
	{
		font-size: 8pt;
	}

	MadCap|footnoteBlock
	{
		font-size: 7pt;
	}

	MadCap|footnotesBlock
	{
		border-top-color: #CF9FFF;
	}

	MadCap|glossaryProxy
	{
		border-top: none;
		color: #e1e1e1;
	}

	MadCap|indexProxy
	{
		border-top: none;
		color: #e1e1e1;
	}

	MadCap|miniTocProxy
	{
		border-top: 0;
		margin-left: 0.25in;
		margin-right: 0.25in;
		padding-left: 0;
	}

	MadCap|tocProxy
	{
		border-top: none;
		margin-right: 0.25in;
	}

	MadCap|xref
	{
		color: #404040;
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
	}

	MadCap|xref.IndexPageNumber
	{
		color: #CF9FFF;
	}

	nav.tab-bar,
	div.sideContent
	{
		display: none;
	}

	ol ol
	{
		margin-left: 30px;
	}

	ol ol ol
	{
		margin-left: 30px;
	}

	p
	{
		font-size: 8pt;
		font-family: 'Century Gothic';
	}

	p.Copyright
	{
		margin-bottom: 8px;
		margin-top: 8px;
	}

	p.CopyrightAddress
	{
		margin-bottom: 0;
		margin-top: 0;
	}

	p.CopyrightHeading
	{
		margin-top: 1in;
		page-break-before: always;
	}

	p.CreatedUsingFlare
	{
		font-weight: bold;
		margin-top: 18px;
	}

	p.EmptyPageText
	{
		font-size: 10pt;
		font-weight: bold;
	}

	p.Figure
	{
		color: #404040;
		font-style: italic;
		mc-auto-number-class: FigureNum;
		mc-auto-number-format: 'CF:Figure {chapnum}-{n+} ';
		margin-left: 10px;
		padding-bottom: 10px;
	}

	p.FirstPageOfChapter
	{
		color: #e1e1e1;
	}

	p.FrameFooterText
	{
		font-family: 'Century Gothic';
		font-size: 24pt;
	}

	p.FrameFooterText2
	{
		color: #404040;
		font-family: 'Century Gothic';
		font-size: 11pt;
	}

	p.GlossaryPrintHead
	{
		color: #3e3e3e;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
		mc-heading-level: 1;
		page-break-before: always;
		text-align: right;
	}

	p.IndexHeading
	{
		font-size: 11pt;
		padding-top: 16px;
		text-align: left;
	}

	p.IndexPrintHead
	{
		color: #3e3e3e;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
		mc-heading-level: 1;
		page-break-before: always;
		text-align: right;
	}

	p.ManualTitle1
	{
		font-family: 'Century Gothic';
		font-size: 9pt;
		margin-bottom: 0;
		margin-left: 1in;
		margin-top: 2.00in;
	}

	p.ManualTitle2
	{
		color: #CF9FFF;
		font-family: 'Century Gothic';
		font-size: 22pt;
		line-height: 0;
		margin-bottom: 0;
		margin-left: 1in;
		margin-top: 0;
	}

	p.ManualVersionNumber
	{
		color: #b3b3b3;
		font-family: 'Century Gothic';
		font-size: 12pt;
		margin-left: 1in;
		margin-top: 12pt;
	}

	p.MiniTOC1
	{
		color: #e1e1e1;
		font-size: 9pt;
		font-weight: normal;
	}

	p.TableCaption
	{
		color: #404040;
		font-style: italic;
		mc-auto-number-class: TableNum;
		mc-auto-number-format: 'CT:Table {chapnum}-{n+} ';
		padding-bottom: 0;
		padding-top: 12px;
	}

	p.TOC1
	{
		color: #CF9FFF;
		font-size: 12pt;
		font-weight: normal;
		margin-bottom: 6px;
		margin-top: 12px;
		mc-leader-format: 'none';
		mc-pagenum-display: none;
		page-break-after: avoid;
	}

	p.TOC2
	{
		color: #e1e1e1;
		font-size: 10pt;
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.25in;
		margin-top: 2px;
	}

	p.TOC3
	{
		color: #e1e1e1;
		font-size: 8pt;
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.35in;
		margin-top: 2px;
	}

	p.TOC4
	{
		color: #CF9FFF;
		font-size: 12pt;
		font-weight: normal;
		margin-bottom: 6px;
		margin-left: 0;
		margin-top: 12px;
	}

	p.TOCHeading
	{
		color: #3e3e3e;
		font-size: 90pt;
		font-weight: normal;
		letter-spacing: -1px;
		line-height: 92pt;
		margin: 0;
		mc-heading-level: 0;
		text-align: center;
	}

	span.ChapAutoNum
	{
		color: #3e3e3e;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
	}

	span.FigureNum
	{
		color: #CF9FFF;
		font-style: normal;
	}

	span.TableNum
	{
		color: #CF9FFF;
		font-style: normal;
	}

	tr
	{
		page-break-inside: avoid;
	}

	ul
	{
		list-style-image: url('../Images/Bullet1Print.eps');
	}

	ul.FirstLevelLessIndentation
	{
		list-style-image: url('../Images/Bullet1Print.eps');
		margin-left: 30px;
	}

	ul ul
	{
		list-style-image: url('../Images/Bullet2Print.eps');
		margin-left: 30px;
	}
}

p.tip
{
	
}

p.result
{
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 40;
	border-top: solid 1px #5e6914;
	border-bottom: solid 1px #5e6914;
}

img.screenshot
{
	margin-left: 40;
	margin: 0px 0px 0px 40px;
	border: solid 1px #838383;
}

p.indenttext
{
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 40;
	margin: 0px 0px 0px 40px;
}

img.icons
{
	border: solid 1px #838383;
	width: 1cm;
	height: 1cm;
}

img.Win10Screenshot
{
	margin-left: 40;
	margin: 0px 0px 0px 40px;
	border: none 2px #000000;
}

img.iconssmall
{
	border: solid 1px #838383;
	width: 0.5cm;
	height: 0.5cm;
}

h1.chapter
{
	mc-auto-number-format: '\'CH:Chapter {chapnum}: \'';
	mc-auto-number-offset: 50px;
	mc-auto-number-position: outside-head;
	mc-auto-number-class: white;
}

@media only screen and (max-width: 1279px)
{
	div.HomeIconGlossary1 > div:nth-child(1)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.HomeIconGlossary1 > div:nth-child(2)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.HomeIconGlossary1 > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.HomeIconGlossary1 > div:nth-child(4)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.HomeIconGlossary2 > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.HomeIconGlossary2 > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.HomeIconGlossary2 > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.HomeIconGlossary2 > div:nth-child(4)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.HomeIconGlossary3 > div:nth-child(1)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.HomeIconGlossary3 > div:nth-child(2)
	{
		width: 50%;
		margin-left: 0%;
	}
}

@media only screen and (max-width: 767px)
{
	div.HomeIconGlossary1 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.HomeIconGlossary1 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.HomeIconGlossary1 > div:nth-child(3)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.HomeIconGlossary1 > div:nth-child(4)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.HomeIconGlossary2 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.HomeIconGlossary2 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.HomeIconGlossary2 > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.HomeIconGlossary2 > div:nth-child(4)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.HomeIconGlossary3 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.HomeIconGlossary3 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}
}

ul.SliceMeshIcon	/*For Testing*/
{
	list-style-image: url('../ER Manual Graphics/slice mesh icon.bmp');
}

ul.SliceMeshIcon > li::marker
{
	font-family: 'Times New Roman';
	content: '.';
}

ul.SliceMeshIcon > li > ul
{
	list-style-image: url('../ER Manual Graphics/slice mesh icon.bmp');
}

ul.SliceMeshIcon > li > ul > li > ul
{
	list-style-image: url('../ER Manual Graphics/slice mesh icon.bmp');
}

ul.SliceMeshIcon > li > ul > li > ul > li > ul
{
	list-style-image: none;
}

p.HighlightNote
{
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'Century Gothic';
	mc-auto-number-class: SeeAlsoIndex;
	text-align: left;
	background-repeat: no-repeat;
	background-image: url('../ER Manual Graphics/slice mesh icon.bmp');
	background-position-x: 10px;
	background-position-y: 10px;
	padding-left: 50px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ffd700;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ffd700;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffd700;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffd700;
}

div.centerContent
{
	float: right;
	width: 60%;
}

img.ExampleSmall
{
	height: 175px;
}

/*<meta sourceDocument="C:\Users\jeffh\Desktop\Flare Import Template test.docx" />*/

img.Example
{
	border: none;
	height: 250px;
}

/*<meta sourceDocument="C:\Users\jeffh\Desktop\Whats New in EnRoute 7.docx" />*/

p.p_1
{
	font-family: 'Arial Black';
	color: #7030A0;
	font-size: 16pt;
}

span.span_1
{
	font-weight: bold;
	font-style: italic;
	font-size: 12pt;
}

span.span_2
{
	font-size: 12pt;
}

p.p_2
{
	font-size: 12pt;
}

span.span_3
{
	font-weight: bold;
	color: #7030A0;
	font-size: 12pt;
}

li.li_1
{
	font-size: 12pt;
}

ol.ol_1
{
	padding-left: 0px;
	list-style-type: decimal;
	margin-left: 18pt;
}

